Repository hmcts/et-hearings-api, pull requests merged in 2023-08, with the labels that each got.

#47 RET-3994 Idam and CCD integration
  build.gradle
  charts/et-hearings-api/Chart.yaml
  charts/et-hearings-api/values.preview.template.yaml
  charts/et-hearings-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/et/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/et/Application.java
  src/main/java/uk/gov/hmcts/reform/et/config/AuthConfiguration.java
  src/main/java/uk/gov/hmcts/reform/et/config/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/et/config/WebConfig.java
  src/main/java/uk/gov/hmcts/reform/et/config/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/et/config/interceptors/UnAuthorisedServiceException.java
  src/main/java/uk/gov/hmcts/reform/et/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/et/model/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/et/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/service/ServiceHearingsService.java
  src/main/java/uk/gov/hmcts/reform/et/service/VerifyTokenService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/config/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/model/CaseTestData.java
  src/test/java/uk/gov/hmcts/reform/et/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/VerifyTokenServiceTest.java
  src/test/resources/responses/caseDetails.json
Labels: ns:et, prd:et, add-or-update, rel:et-hearings-api-pr-47

#53 RET-4088-setting up service bus
  infrastructure/service-bus.tf
Labels: ns:et, prd:et, add-or-update, rel:et-hearings-api-pr-53

#56 Ret 3992 - Populate manual hearings object with values from caseData
  build.gradle
  charts/et-hearings-api/Chart.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/et/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/et/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/et/model/service/HearingDurationCalculator.java
  src/main/java/uk/gov/hmcts/reform/et/model/service/ReferenceDataServiceHolder.java
  src/main/java/uk/gov/hmcts/reform/et/model/service/YesNo.java
  src/main/java/uk/gov/hmcts/reform/et/model/service/hearingvalues/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/et/service/ServiceHearingsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/model/CaseTestData.java
  src/test/java/uk/gov/hmcts/reform/et/model/service/hearingvalues/ServiceHearingValuesTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/HearingDurationCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/ReferenceDataServiceHolderTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/ServiceHearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/YesNoTest.java
  src/test/resources/responses/caseDetails.json
  src/test/resources/responses/serviceHearingValues.json
Labels: ns:et, prd:et, rel:et-hearings-api-pr-56

#68 RET-4088- made change to service-bus terrform subscription name
  infrastructure/service-bus.tf
Labels: ns:et, prd:et, add-or-update, rel:et-hearings-api-pr-68
