Repository hmcts/et-hearings-api, pull requests merged in 2023-11, with the labels that each got.

#134 RET-4142 : Add a null check to getHearingType
  build.gradle
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/et/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/et/controllers/ServiceLinkedCasesController.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/CaseDataMapping.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/CaseFlagsMapping.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsPartyMapping.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/et/model/hmc/reference/EntityRoleCode.java
  src/main/java/uk/gov/hmcts/reform/et/model/service/HearingDurationCalculator.java
  src/main/java/uk/gov/hmcts/reform/et/model/service/ReferenceDataServiceHolder.java
  src/main/java/uk/gov/hmcts/reform/et/model/service/YesNo.java
  src/main/java/uk/gov/hmcts/reform/et/model/service/hearingvalues/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/et/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/service/ServiceHearingsService.java
  src/main/java/uk/gov/hmcts/reform/et/service/ServiceLinkedCasesService.java
  src/main/java/uk/gov/hmcts/reform/et/utils/CaseFlagsHearingsUtils.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/CaseFlagsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingVenueTest.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsPartyMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/model/service/hearingvalues/ServiceHearingValuesTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/HearingDurationCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/ReferenceDataServiceHolderTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/ServiceHearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/ServiceLinkedCasesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/YesNoTest.java
  src/test/java/uk/gov/hmcts/reform/et/utils/CaseFlagsHearingsUtilsTest.java
  src/test/resources/responses/caseDetails.json
  src/test/resources/responses/serviceHearingValues.json
Labels: ns:et, prd:et, add-or-update, rel:et-hearings-api-pr-134

#145 RET-4380: Handle missing fields for respondent name
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsPartyMappingTest.java
Labels: ns:et, prd:et, rel:et-hearings-api-pr-145

#148 Set caseDeepLink dynamically
  charts/et-hearings-api/Chart.yaml
  charts/et-hearings-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/config/WebConfig.java
  src/main/java/uk/gov/hmcts/reform/et/config/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/et/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/et/service/ServiceHearingsService.java
  src/main/java/uk/gov/hmcts/reform/et/service/VerifyTokenService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/service/ServiceHearingsServiceTest.java
  src/test/resources/responses/serviceHearingValues.json
Labels: ns:et, prd:et, rel:et-hearings-api-pr-148

#169 RET-4374: Extending PartyDetails objects in ServiceHearingValues
  .github/workflows/ci.yml
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsPartyMapping.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsPartyMappingTest.java
  src/test/java/uk/gov/hmcts/reform/et/model/CaseTestData.java
  src/test/java/uk/gov/hmcts/reform/et/service/ServiceHearingsServiceTest.java
  src/test/resources/partyMapping/caseData.json
  src/test/resources/partyMapping/serviceHearingValues.json
Labels: ns:et, prd:et, rel:et-hearings-api-pr-169

#171 RET-4511: Removed case linking screen on Hearings flow
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsCaseMapping.java
  src/test/resources/partyMapping/serviceHearingValues.json
  src/test/resources/responses/serviceHearingValues.json
Labels: ns:et, prd:et, rel:et-hearings-api-pr-171

#172 RET-0000: fixed blank claimant rep firm name causing HMC error
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsPartyMapping.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsPartyMappingTest.java
Labels: ns:et, prd:et, rel:et-hearings-api-pr-172

#177 RET-0000: fixed NPE on null case flags parent
  src/main/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsPartyMapping.java
  src/test/java/uk/gov/hmcts/reform/et/helper/mapping/HearingsPartyMappingTest.java
Labels: ns:et, prd:et, rel:et-hearings-api-pr-177
